
body {
  font-size: 100%;
  color: black;
}

img {
  width: 80%;
}

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}
